/* 基本设置*/
* {margin: 0;padding: 0;border: 0;}
body {font-family: "楷体","宋体",Times;font-size: small;color: #333333;background: #161616;line-height: 20px;}
a {color: #23abd2;}
ul {list-style-type: none;}
a:link {text-decoration: none;color: black;;}
a:visited {text-decoration:  none;color: black;;}
a:hover {text-decoration: none;color: #94d223;}

h1 {color:#CC0000;font-size: large;font-weight:bold;line-height:22px;}
h1 a:link{color:#CC0000;font-size:large;}
h1 a:visited {color:#CC0000;font-size:large;}
h1 a:hover{color:#FF0000;font-size:large;}
h2 {color:#ff6f08;font-family:ZhunYuan,"楷体",Arial,SimSun, "Times New Roman", ;font-size:16px;font-weight:bold;letter-spacing:2pt;}
h3 {color:black;font-family:ZhunYuan,"楷体",Arial,SimSun, "Times New Roman", ;font-size:normal;font-weight:bold;letter-spacing: 1em;}
h4 {color: white;font-family:ZhunYuan,"楷体",Arial,SimSun, "Times New Roman", Times, serif; font-size:130%;letter-spacing:4pt;font-weight:bold;}
h5 {color:#093089;font-family:ZhunYuan,"楷体";font-size:30px;font-weight:bold;}
/*banner*/
#banner {width:970px;height: 100px;background: url(../CSS/banner970x100.png);clear:both;overflow:hidden;}

/* 导航*/
.menu {width: 970px;height: 30px;color: red;background: url(../CSS/menu_bg.gif) no-repeat;clear: both;overflow: hidden;}
.menu li a:link,.menu li a:visited{color:#FFFFFF;}
.menu li a:hover,.menu li a:active,.menu li a h1{color:#FFFF00;font-size:120%;}
.menu li a.now {color: yellow;font-size: medium;}
.menuL {float:left; font-family: "微软雅黑","黑体","文泉驿等宽正黑";}
.menuL li{float:left; font-size: small; font-weight: bold; padding:2px 15px 0 0px;border-right:1px solid #FFFFFF; margin:7px 0 0 15px;height:14px;line-height:14px;filter:dropshadow(color=#000000,offx=1,offy=1);}
.menuL li.last {border-right:0;}
.menuR {float: right;margin:0 10px 0 0;}
.menuR li{float: left;border-right:0px ; margin:8px 0 0 8px; }
.menuR li.last {border-right:0px solid #FFFFFF;}

/* 主体*/
#main {width:970px;background: white;overflow:hidden;background:url(images/head_bckg.jpg) repeat-x center top #000000;}
.maint {width:100%;margin-left: 10px; height:auto;float:left;overflow:hidden;text-align:left;font-size:110%;color: white;}
#demo {margin-top: 10px;margin-bottom: 12px; overflow:hidden;width: 100%;}
#demo img {border: 3px solid #F2F2F2;}
#indemo {float: left;width: 800%;}
#demo1 {float: left;}
#demo2 {float: left;}
#img_main {margin:0; font-family:Arial,"隶书","文泉驿等宽正黑","Times New Roman"; width:970px;background: white;overflow:hidden;background:url(images/head_bckg.jpg) repeat-x center top #000000;}
.main_title {width:90%; float:left; margin:20px 0 20px 20px;}
.main_title h2 {color:#94d223; font-size: 120%; border-bottom:1px solid #5d5d5d; padding-bottom:10px;}
.sidebar {width:250px;height:auto;float:left;overflow:hidden;text-align:left;}
.container {width:710px;height:auto;float:right;overflow:hidden;text-align:left;font-size:150%;}

/* 组内动态*/
.main_news{width:100%;height: auto;margin-top: 10px; float:right;clear:both;background:url(main_bckg.jpg) repeat-x top;} /* 添加背景图片*/
.main_news ul {float: left;width:100%; margin: 6px 0 10px 30px;display: inline;clear:both;}
.main_news ul li {text-indent:28px;float:left;width: 90%;color:black;height: 30px;overflow: hidden;background: url(main_new.gif) no-repeat;}
.main_news ul li a {display: block;color:#ff6f08;white-space: nowrap;}
.main_news ul li a:visited {color:gray;}
.main_news ul li a:hover {color:#ff6f08;}
.main_news p {color: white;font-size: 80%;margin-top: 10px;line-height: 25px;}

/* 侧边栏标题*/
.siderlist {float: left;margin: 0 0 10px 0;display: block;}
.siderlist .siderlist_title {float: left;width:250px;height:30px;background: url(side_blue.gif) no-repeat;}
.siderlist .siderlist_title h3 {float: left;display: block;width: 170px;font-family:  "微软雅黑","黑体","文泉驿等宽正黑";text-indent: 10px;margin-top: 5px;}
.siderlist .siderlist_title span {float: right;margin-top: 8px;}
.siderlist .siderlist_title span a {display: block;width: 58px;text-align: center;color: #999;color: white;}
.siderlist .siderlist_title span a:hover {color:#ff6f08;text-decoration: none;} 

/* 公告栏*/
.note{width:250px;height: auto; float:left;display: block;background: url(note_bg.gif)} /*添加背景图片*/
.note ul {float: left;width: 220px;}
.note ul li {float:left;font-size:120%;width: 220px;height: 28px;background: url(note_label.gif) no-repeat;margin-left: 5px;}
.note ul li a {display: block;text-indent:20px; color:black;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.note ul li a:hover {color:#ff6f08;background-position: 2px -24px;}
/* 公告栏-更多*/
#logo {margin:0px 50px -20px 30px; height:80px;}
#logo p {color:#EDECEC; text-decoration:none; font-size:x-large; background:url(images/logo.gif) no-repeat; padding:15px 0 20px 60px; float:left;font-weight: bold;}
#logo span {float: right; width: 350px;margin: 12px 10px 0 0;line-height: 20px;text-align: right;color: white;}
#logo span a {color: white;}
#logo span a:hover {color: #ff6f08;}


/* 学术动态栏*/
.news{width:250px;height: 188px;float:left;background: url(sider_bg.gif) no-repeat;} /* 添加背景图片*/
.news ul {float: left;width: 240px; margin: 6px 0 10px 6px;display: inline;}
.news .new {text-indent:22px;background: url(news_new.gif) no-repeat;}
.news ul li {float:left;width: 240px;color:black;height: 20px;}
.news ul li a {display: block;color:#23abd2;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.news ul li a:hover {color:#ff6f08;}
/* 学术动态栏-更多*/

/* 友情链接*/
.youlian{width:250px;height: 200px;float:left;background: url(sider_bg.gif) no-repeat;} /* 添加背景图片*/
.youlian ul  {float: left;width: 100%;margin-top: 5px; display: inline;}
.youlian ul li {margin:0;line-height: 190%;text-align:center;}
.youlian ul li a {color:  #23abd2;}
.youlian ul li a:visited {border-bottom: 1px;}
.youlian ul li a:link{border-bottom: 1px;}
.youlian a:hover{color:#ff6f08;margin: 0;width: 100%;}
/* 友情链接-更多*/


/*页面更新信息*/
.update {width: 250px;float: left;color: #ff6f08;text-align: center;}

/* 子页侧边栏*/
.snav{width:100%;}
.snav div{margin: 0;padding: 5px 3px;color: white;background-color:#004699;font: bold 150% 宋体;text-align:center;}
.snav ul{margin:0;padding: 0;list-style:none;font-size:120%;text-align:center;}
.snav a,.snav .current{display: block;color:#363636;background-color:#84bcda;width: 100%;margin: 0;padding: 3px 0;line-height: 190%;border-bottom: 1px solid #004699;text-decoration:none;text-indent: 4px;}
.snav a:hover, .snav .current{background-color: #cde4f0;color: black;}


/* 子页*/
#logo_tea {margin:0px 50px -20px 30px; height:80px;}
#logo_tea a {color:#EDECEC; text-decoration:none; font-size:x-large; background:url(images/logo_tea.png) no-repeat; padding:15px 0 20px 60px; float:left;font-weight: bold;}
#logo_mem {margin:0px 50px -20px 30px; height:80px;}
#logo_mem a {color:#EDECEC; text-decoration:none; font-size:x-large; background:url(images/logo_mem.png) no-repeat; padding:15px 0 20px 60px; float:left;font-weight: bold;}
#logo_equip {margin:0px 50px -20px 30px; height:80px;}
#logo_equip a {color:#EDECEC; text-decoration:none; font-size:x-large; background:url(images/logo_equip.png) no-repeat; padding:15px 0 20px 60px; float:left;font-weight: bold;}
#logo_activ {margin:0px 50px -20px 30px; height:80px;}
#logo_activ a {color:#EDECEC; text-decoration:none; font-size:x-large; background:url(images/logo_activ.png) no-repeat; padding:15px 0 20px 60px; float:left;font-weight: bold;}
#logo_result {margin:0px 50px -20px 30px; height:80px;}
#logo_result a {color:#EDECEC; text-decoration:none; font-size:x-large; background:url(images/logo_result.png) no-repeat; padding:15px 0 20px 60px; float:left;font-weight: bold;}
/* 留言板设计*/
#logo_book {margin:0px 50px 20px 30px; height:80px;}
#logo_book p {color:#EDECEC; text-decoration:none; font-size:x-large; background:url(images/logo_book.png) no-repeat; padding:15px 0 20px 60px; float:left;font-weight: bold;}
#logo_book span {float: right; width: 350px;margin: 12px 10px 0 0;line-height: 20px;text-align: right;color: white;}
#logo_book span a {color: white;}
#logo_book span a:hover {color: #ff6f08;}
.booklist {width:95%;color: white;border: 2px solid #33ADFF;}
.guset {float:left;width:25%;height:auto;border-left: 1px solid #fFF;}
.guestc {margin:3px; width:200px; border:1px solid #ccc; padding:8px; text-align:left; line-height:160%;}
.content {float:right;width:74%;border-left:1px solid #33ADFF;}
.content p {margin:6px; line-height:160%; text-align:left;}
.div {overflow:hidden; height:auto;}
.textcontent {width:80%; height:auto;}
.tleft {float:left;}
.tright {float:right;}
input[type="submit"] {padding:3px 6px 3px 6px;}
.rreply {margin:12px; border:1px solid #ccc; padding:6px;}
.issue {float:right;width:74%;color: white;font-size: 110%;margin-top: 20px;margin-bottom: 20px;}


.img_topic {padding-right:30px; height:56px;}
.img_topic ul {padding:0; margin:0; float:right;}
.img_topic li {float:left; list-style:none;}
.img_topic a {display:block; width:126px; height:50px; font-size:100%; text-decoration:none; color:#ABABAB; text-align:center; background:url(images/menu_deact.gif) no-repeat; padding-top:6px;}
.img_topic a:hover, .img_topic a.active {background:url(images/menu_act.gif) no-repeat; color:#180202;}

#img_smain {color:#D6D6D6; line-height:16px;}
#img_smain ul {padding:0; margin:10px 0;}
#img_smain li {margin-left:20px;}
#img_smain img {border:6px solid #FFFFFF; margin:0 5px 8px 5px;}
#img_smain img:hover {border-color:#D6D6D6;}
.instruct {padding:0 30px 20px 30px;color: white;font-size: 110%; text-align: left;}

.table_smain {border-collapse: collapse;border: 1px solid #999999;width: 100%;}
.table_smain td {font-family: "楷体",SimSun, "Times New Roman", Times, serif;font-size: 110%;color:white;}
.table_smain_other {border-collapse: separate;border: 1px solid #999999;width: 100%;}
.table_smain_other td { font-family: "楷体",SimSun, "Times New Roman", Times, serif;font-size: 110%;color:white;}
.table_smain_mem {border-collapse: collapse;border: 1px solid #999999;width: 100%;}
.table_smain_mem tr {text-align: center; height: 40px;}
.table_smain_mem td { font-family: "楷体",SimSun, "Times New Roman", Times, serif;font-size: 110%;color:#ddff00;border: 1px solid #999999;}
.table_smain_mem a  {color:#FFA500;font-weight:bold;}
.table_smain_mem p  {font-size: 100%;color:white;}

.table_smain_tea {border-collapse: collapse;width: 100%;}
.table_smain_tea tr {height: 40px;}
.table_smain_tea td { font-family:"楷体", Arial,SimSun, "Times New Roman", Times, serif;font-size: 120%;color:#ddff00;font-weight:bold;}
.table_smain_tea a  {font-size: 120%;color:white;}
.table_smain_tea a:hover  {font-size: 120%;color:#FFA500;}
.table_smain_tea2 {border-collapse: collapse;width: 100%;}
.table_smain_tea2 tr {height:30px;}
.table_smain_tea2 td { font-family: "楷体",SimSun, "Times New Roman", Times, serif;font-size: 100%; color:#ff6f08;font-weight:bold;}
.table_smain_tea2 a  {font-size: 120%;color:white;}
.table_smain_tea2 p  {font-size: 100%;line-height: 150%; color:white;}

/* 页脚版权*/
.footmenu,.footmenu a:link,.footmenu a:visited {color:#373030;font-size:12px;}
.copy,.copy a:link,.copy a:visited,a.copy{color:#373030;}
#footer_img {width:970px;height:auto;background: url(images/footer_bg.jpg) top no-repeat;overflow:hidden;}
