  <h3>Database</h3>
  <div class="jumbotron">
    <div class="grid-container">
      <div class="grid grid--p-2">
        <div class="cell cell--3">
          <div class="card">
            <a href="http://www.nanocrystallography.org", target="_blank">
              <div class="card card--clickable">
                <div class="card__image">
                  <img class="image" src="/images/tools/cod.pdf"/>
                </div>
              </div>
            </a>
            <p>Crystallography</p>
          </div>
          <div class="well-info">
            <p>
              Open-access collection of crystal structures of organic, inorganic, metal-organic compounds and minerals, excluding biopolymers.
            </p>
          </div>
        </div>
        <div class="cell cell--3">
          <div class="card">
            <a href="https://srdata.nist.gov/xps/Default.aspx", target="_blank">
              <div class="card card--clickable">
                <div class="card__image">
                  <img class="image" src="/images/tools/nist.pdf"/>
                </div>
              </div>
            </a>
            <p>NIST XPS</p>
          </div>
          <div class="well-info">
            <p>
              Database that gives easy access to the energies of many photoelectron and Auger-electron spectral lines.
            </p>
          </div>
        </div>
        <div class="cell cell--3">
          <div class="card">
            <a href="https://materialsproject.org/", target="_blank">
              <div class="card card--clickable">
                <div class="card__image">
                  <img class="image" src="/images/tools/mp.pdf"/>
                </div>
              </div>
            </a>
            <p>The Materials Project</p>
          </div>
          <div class="well-info">
            <p>
               Compute the properties of all inorganic materials and provide the data and associated analysis algorithms for researchers free of charge. 
            </p>
          </div>
        </div>
        <div class="cell cell--3">
          <div class="card">
            <a href="http://abulafia.mt.ic.ac.uk/shannon/ptable.php", target="_blank">
              <div class="card card--clickable">
                <div class="card__image">
                  <img class="image" src="/images/tools/shannon.pdf"/>
                </div>
              </div>
            </a>
            <p>Shannon Radii</p>
          </div>
          <div class="well-info">
            <p>
              Database of Ionic Radii, hosted by the Atomistic Simulation Group in the Materials Department of Imperial College
            </p>
          </div>
        </div>
        <div class="cell cell--3">
          <div class="card">
            <a href="https://xpsdatabase.com", target="_blank">
              <div class="card card--clickable">
                <div class="card__image">
                  <img class="image" src="/images/tools/xps.pdf"/>
                </div>
              </div>
            </a>
            <p>XPS Database</p>
          </div>
          <div class="well-info">
            <p>
              The International XPS Database of XPS Reference Spectra, Peak-fits & Six (6) BE Tables.
            </p>
          </div>
        </div>
        <div class="cell cell--3">
          <div class="card">
            <a href="https://www.nrel.gov/pv/interactive-cell-efficiency.html", target="_blank">
              <div class="card card--clickable">
                <div class="card__image">
                  <img class="image" src="/images/tools/celleff.pdf"/>
                </div>
              </div>
            </a>
            <p>NREL Cell Efficiency</p>
          </div>
          <div class="well-info">
            <p>
              Record research cell efficiencies for five major technologies: crystalline Si, single-junction GaAs, multijunction, thin films, and emerging PV.
            </p>
          </div>
        </div>
        <div class="cell cell--3">
          <div class="card">
            <a href="http://abulafia.mt.ic.ac.uk/shannon/ptable.php", target="_blank">
              <div class="card card--clickable">
                <div class="card__image">
                  <img class="image" src="/images/tools/blank.pdf"/>
                </div>
              </div>
            </a>
            <p>XX</p>
          </div>
          <div class="well-info">
            <p>

            </p>
          </div>
        </div>
        <div class="cell cell--3">
          <div class="card">
            <a href="http://abulafia.mt.ic.ac.uk/shannon/ptable.php", target="_blank">
              <div class="card card--clickable">
                <div class="card__image">
                  <img class="image" src="/images/tools/blank.pdf"/>
                </div>
              </div>
            </a>
            <p> XX</p>
          </div>
          <div class="well-info">
            <p>

            </p>
          </div>
        </div>
    </div>









  </div>